body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url('./Images/Stage.jpg');
  background-size: cover;
  position: relative;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position: absolute;
  transition: transform 1s;
  height: 150px;
  width: 150px;
}

.donaldDancer{
  -webkit-animation: spin 2s ease 0s;
  -webkit-animation-iteration-count:infinite;
  animation: spin 2s ease 0s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  background-image: url('./Images/trump.svg');
}

.dancer:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  animation-timing-function: linear;
  animation-duration: 500ms;

  /*<--transform: rotateX(180deg); -->*/
}

.hillaryDancer{
  -webkit-animation: rotX 2s ease 0s;
  -webkit-animation-iteration-count:infinite;
  animation: rotX 2s ease 0s;
  animation-iteration-count:infinite;
  animation-direction: normal;
  background-image: url('./Images/hillary.svg');
}

.obamaDancer{
  background-image: url('./Images/obama.svg');
}



/*@-webkit-keyframes rotX {100% { -webkit-transform: rotateX(180deg); }} */
@keyframes rotX { 100% { -webkit-transform: rotateX(180deg); transform: rotateX(180deg);}}

/*@-webkit-keyframes spin {100% { -webkit-transform: rotate(360deg); }} */
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }}





.lineUpClass{

  left: 30px;
}

.stopAnimation {
  animation-iteration-count:1 !important;
  animation-play-state: paused !important;
}

.moveLeft{
  transform: translate(-200px);
}












